//- Từ khóa extends ké thừa từ layout/layout
extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'


block container
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eveniet ut tempore accusamus dolor voluptatibus nemo, animi in adipisci! Aliquam similique nostrum sed! Impedit suscipit facere aperiam dolores corporis nisi.
	h2(class="heading" id="heading") This is heading title
	input(type="text" name="email" placeholder="Giang")
	form(action="#" method="post")
	ul.list 
		+ListItem("1" , "This is caption 1")
		+ListItem("2", "This is caption 2")
		+ListItem("3" , "This is caption 3")
		+ListItem("4" , "This is caption 4")