.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}
html {
  font-size: 62.5%;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-family: $primary-font;
  line-height: 1;
  color: $title-color;
  font-size: 1.4rem;
}
a {
  text-decoration: none;
}
